/*start header */
nav {
    background-color: #0B7189;
}

footer {
    background-color: #0B7189;
    width: 100%;
}

body {
    background-color: #B1F9FC;
    font-family: 'Big Shoulders Display', cursive;

}
/*fin header*/

/*gneu */
h1 {
    color: rgb(53, 51, 187);
    text-transform: uppercase;
}

p{
    color: rgb(53, 51, 187);
    font-style: italic;
    text-align: center;
}

button{
    margin-right: 3px;
}

.btn-group{
    margin-right: 20px;
}

#address {
    color: black;
}

#imgHome{
    height: 450px;
}

.card-body{
    border: 1px solid rgb(38, 0, 255);
}
/* fin gneu */

/* page contact */
#contact{
    margin: 0 auto;
    width: max-content;
    text-transform: uppercase;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    margin-bottom: 100px;
}

#contact label {
    display: inline-block;
    width: max-content;
    text-align: right;
    display:table-cell;
  }

#contact input {
    margin-top: 15px;
}

#contact button {
    margin-left: 40%;
}
#contactBloc{
    display: flex;
}

/*------*/
/* - - - Partie de Brice - - - */
.card {
    margin: 5vh;
    height: 45vh;
    width: 45vh;
    object-fit: contain;
    background-color: unset;
    border: unset;
    float: left;
    margin: 0 auto;
    margin-bottom: 50px;
}

.imp {
    height: 35vh;
}

.card-footer {
    background-color: white;
    height: 10vh;
}

/*******************************************overlay***********************************/
#anemon{
    display: none;
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
#anemon:target{
    display: block;
}
/*2*/
#lotus{
    display: none;
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
#lotus:target{
    display: block;
}
/*3*/
#feuillus{
    display: none;
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
#feuillus:target{
    display: block;
}
/*4*/
#lily{
    display: none;
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
#lily:target{
    display: block;
}
/*5*/
#drosera{
    display: none;
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
#drosera:target{
    display: block;
}
/*6*/
#venus{
    display: none;
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
#venus:target{
    display: block;
}
/*7*/
#sarrac{
    display: none;
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
#sarrac:target{
    display: block;
}
/*basic*/
.popup_block{
    background: #fff;
    padding: 5vh;
    border: 10px solid #ddd;
    position: relative;
    margin: 10% auto;
    width: 70%;
    min-height: 70vh;
    box-shadow: 0px 0px 20px #000;
    border-radius: 10px;
    object-fit: contain;
}
img.btn_close {
    float: right;
    margin: -55px -55px 0 0;
}
/*******************************************overlay***********************************/

.row {
    justify-content: space-between;
}
/* - - - Fin de la Partie de Brice - - - */