nav {
    background-color: #0B7189;
}

footer {
    background-color: #0B7189;
}

body {
    background-color: #B1F9FC;
}

h1 {
    color: white;
}

.card-group {
    float: left;
    justify-content: space-between;
}

.cards{
    float: left;
}

footer {
    margin-top: 100%;
}
button{
    margin-right: 3px;
}
.btn-group{
    margin-right: 20px;
}

#contact{
    margin: 0 auto;
    width: max-content;
    text-transform: uppercase;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

#contact label {
    display: inline-block;
    width: max-content;
    text-align: right;
    display:table-cell;
  }

#contact input {
    margin-top: 15px;
}
#contact button {
    margin-left: 40%;
}